<div class=" card mb-4">
    <div class="row">
      <div class="col-md-6">{{posts.title}}</div>
      <div class="col-md-6 ms-auto">Posted by {{posts.user.user_name}} on {{posts.date_posted}}</div>
    </div>
  <p>
    {{posts.post_content}}
  </p>
</div>


{{#if posts.comments}}
  {{#each posts.comments}}
  {{comment.content}}
  {{/each}}
{{/if}}
        



  
 

